.error404landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        text-align: left;
        font-size: 1.25rem;

        p {
            padding-bottom: 1rem;
        }
    }

    img {
        width: 37.5%;
    }

    @media (max-width: 769px) {
        flex-direction: column;
        gap: 2rem;
    }

    @media (max-width: 426px) {
        img {
            width: 75%;
        }
    }
}
