footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;

    table {
        width: 50%;
        text-align: center;

        h3 {
            margin: 0.25rem;
        }

        a {
            color: var(--text);
            margin-bottom: 0.5rem;

            &:hover,
            &:focus {
                color: var(--primary);
            }
        }

        p {
            margin: 0;
        }
    }

    @media (max-width: 426px) {
        padding: 2.5rem 0;

        table {
            width: 100%;
        }
    }
}
